body{
    width: 100vw;
}

table{
    border-collapse: collapse;
    width: auto;
    overflow-x: auto;
}

th, td{
    border: 1px solid #333;
    min-width: 80px;
   overflow-x: hidden;
}
tr{
    height: 20px;
    /* overflow-x: hidden; */
    /* line-height: 20px; */
}

td:focus{
    outline: none;
}